LIGHTTPD_ENABLED=
IPV6_ADDRESS=
CONDITIONAL_FORWARDING=
CONDITIONAL_FORWARDING_IP=
CONDITIONAL_FORWARDING_DOMAIN=
CONDITIONAL_FORWARDING_REVERSE=
QUERY_LOGGING=false
DNSMASQ_LISTENING=single
PIHOLE_DNS_1=8.8.8.8
PIHOLE_DNS_2=8.8.4.4
PIHOLE_DNS_3=1.1.1.1
PIHOLE_DNS_4=1.0.0.1
PIHOLE_DNS_5=192.168.2.254
DNS_FQDN_REQUIRED=true
DNS_BOGUS_PRIV=true
DNSSEC=false
REV_SERVER=false
IPV4_ADDRESS={{ pihole.ipaddress }}
WEBPASSWORD=d7bb3b906b545857f06d050160a433c50ed2e37bde1b5a943a11ac3cdcd819ff
BLOCKING_ENABLED=true
DHCP_ACTIVE=true
DHCP_START=192.168.100.51
DHCP_END=192.168.100.150
DHCP_ROUTER=192.168.100.1
DHCP_LEASETIME=24
PIHOLE_DOMAIN=lan
DHCP_IPv6=false
DHCP_rapid_commit=false
INSTALL_WEB_SERVER=true
INSTALL_WEB_INTERFACE=true
PIHOLE_INTERFACE=eth0
ADMIN_EMAIL=
WEBUIBOXEDLAYOUT=boxed
WEBTHEME=lcars
